# Директория MinIO

MINIO_VOLUMES="{{ minio_volumes }}"

# Используется для указания порта, на котором работает сервис

MINIO_OPTS="{{ minio_opts }}"

# Root пользователь MinIO

MINIO_ROOT_USER={{ minio_root_user }}

# Пароль для пользователя

MINIO_ROOT_PASSWORD={{ minio_root_password }} 